//placeholder input
@mixin tp-placeholder{
    &::-webkit-input-placeholder{
        @content;
    }
    &:-moz-placeholder{
        @content;
    }
    &::-moz-placeholder{
        @content;
    }
    &:-ms-input-placeholder{
        @content;
    }
}


// transition
@mixin transition($args) { 
    -webkit-transition: $args; 
    -moz-transition: $args; 
    -ms-transition: $args; 
    -o-transition: $args; 
    transition: $args; 
  }


  // transforms
  @mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
 }

//  Flexbox display
@mixin flexbox(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}