$font-url : 'https://fonts.googleapis.com/css2?family=Federo&family=Poppins:wght@400;500;600;700&display=swap', 'https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Federo&family=Poppins:wght@400;500;600;700&display=swap';
:root {
    --tp-font-heading: "Federo", sans-serif;
    --tp-font-body: "DM Sans", sans-serif;
}