@use '../../utils' as *;

.tp-header-area.tp-transparent-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
}
.tp-header-area{
    @media #{$xl}{
        padding-left: 30px;
    }
    @media #{$lg, $md}{
        padding-left: 40px;
    }
    @media #{$xs}{
        padding-left: 15px;
    }
}
.tp-main-menu{
    @media #{$xl}{
        padding-left: 10px;
    }
    & ul{
        & li{
            display: inline-block;
            margin-right: 42px;
            position: relative;
            @media #{$xxlm}{
                margin-right: 27px;
            }
            @media #{$xl}{
                margin-right: 20px;
            }
            & a{
                color: #fff;
                font-family: var(--tp-font-heading);
                font-size: 18px;
                padding: 36px 0;
                display: inline-block;
                position: relative;
                &:before{
                    content: "\f118";
                    font-family: var(--tp-font-flaticon);
                    font-size: 40px;
                    position: absolute;
                    top: -5px;
                    left: 26px;
                    transform: rotate(133deg);
                    color: var(--tp-theme-color-2);
                    opacity: 0;
                    transition: .3s;
                }
            }
            &:hover{
                & a{
                    color: var(--tp-theme-color-2);
                    &:before{
                        opacity: 1;
                        top: 0;
                    }
                }
            }
            & .sub-menu{
                position: absolute;
                top: 105%;
                width: 213px;
                left: 0;
                background: #fff;
                padding: 16px 0;
                opacity: 0;
                visibility: hidden;
                transition: .3s;
                & li{
                    margin-right: 0;
                    display: block;
                    & a{
                        color: #000;
                        display: block;
                        padding: 4px 25px;
                        font-size: 17px;
                        &:before{
                            display: none;
                        }
                    }
                    & .sub-menu{
                        left: 100%;
                        top: 105%;
                        opacity: 0;
                        visibility: hidden;
                    }
                    &:hover{
                        & > a{
                            color: #0057FC;
                        }
                        & > .sub-menu{
                            opacity: 1;
                            visibility: visible;
                            top: 0;
                        }
                    }

                    
                }
            }

            &:hover{
                & a{
                    color: var(--tp-theme-color-2);
                }
                & .sub-menu{
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                }
            }

        }
    }
    &-black{
        & ul{
            & li{
                & a{
                    color: #0A0E1A;
                    &:before{
                        color: var(--tp-theme-orange);
                    }
                }
                &:hover{
                    & a{
                        color: var(--tp-theme-orange);
                    }
                }
                & .sub-menu{
                    & li{
                        &:hover{
                            & > a{
                                color: var(--tp-theme-orange);
                            }
                        }
                    }
                }
            }
        }
    }
}


.tp-header{
    &-border{
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
    &-search{
        margin-right: 40px;
        & i{
            font-size: 30px;
            color: #B1B4BA;
        }
        @media #{$xl}{
            margin-right: 10px;
        }
    }
    &-bar{
        & button{
            background: #23252D;
            padding: 20px 25px;
            display: flex;
            align-items: center;
            & i{
                color: #fff;
                font-size: 60px;
            }
        }
    }
    &-cta{
        display: flex;
        align-items: center;
        padding: 28px 15px;
        & i{
            font-size: 35px;
            color: var(--tp-theme-color-2);
        }
        @media #{$xl}{
            padding: 28px 10px;
        }
        border-left: 1px solid rgba(255, 255, 255, 0.15);
        &-icon{
            margin-right: 15px;
        }
        &-text{
            span{
            color: #B1B4BA;
            font-size: 15px;
            display: block;
            margin-bottom: 7px;
            line-height: 1;
            }
        }
        h4{
            font-size: 18px;
            color: #fff;
            margin: 0;
        }
    }
    &-btn{
        display: flex;
        align-items: center;
    }

    &-right{
        & .tp-header-search {
            color: #0A0E1A;
            margin-right: 20px;
            & i{
                color: #0A0E1A;
            }
        }
        & .tp-header-bar{
            margin-left: 20px;
            & button{
                background: none;
                padding: 0;
                & i {
                    color: #0A0E1A;
                }
            }
        }
    }
    
}



.tp-header-sep-vr{
    height: 40px;
    width: 1px;
    background: #F2DDD1;
}
