@use '../../utils' as *;

.tp-offcanvas-menu ul {
    list-style: none;
    & li{
        position: relative;
        
        & a{
            padding: 8px 0;
            display: block;
            font-size: 16px;
            font-weight: 500;
        }
        & > a{
            border-bottom: 1px solid rgba(1, 15, 28, 0.1);
        }
        &.active{
            & > a{
                color: var(--tp-theme-color);
            }
            & > .tp-menu-close{
                border-bottom:var(--tp-theme-color);
                color: #fff;
                background: var(--tp-theme-color);
                & i{
                    @include transform(rotate(90deg));
                }
            }
        }

        & .sub-menu{
            display: none;
            padding-left: 20px;
        }
    }
}

// .tp-offcanvas-menu ul li .sub-menu{
//     display: none;
// }

.tp-menu-close{
    position: absolute;
    right: 0;
    top: 7px;
    border: 1px solid rgba(1, 15, 28, 0.12);
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    & i{
        @include transition(.3s);
    }
}