@use '../../utils' as *;

.tp-footer-social-box{
    & a{
        border: 1px solid rgba($color: #fff, $alpha: .15);
        display: block;
        text-align: center;
        color: #fff;
        font-size: 30px;
        text-transform: uppercase;
        padding: 35px 30px;
        font-family: var(--tp-font-heading);
        border-radius: 20px;
    }
}