@use '../utils' as *;


.w-img{
	& img{
		width: 100%;
	}
}
.m-img{
	& img{
		max-width: 100%;
	}
}
img{
	max-width: 100%;
}
.fix {
    overflow:hidden
}
.clear{
    clear: both;
}

.z-index-1{
	z-index: 1;
}

.z-index-11{
	z-index: 11;
}

.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.overflow-x-visible{
	overflow-x: visible;
	overflow-y: hidden;
}

.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}
.br-5{
	border-radius: 5px;
}
.br-24{
	border-radius: 24px;
}

.br{
	&-20{
		border-radius: 20px;
		& img{
			border-radius: 20px;
		}
	}
	&-15{
		& img{
			border-radius: 15px;
		}
	}
}

.tp-black-bg{
	background-color: var(--tp-common-black);
}
.tp-bg-white{
	background: #fff;
}
.tp-blue-bg{
	background-color: var(--tp-theme-color);
}

.tp-nblue-bg{
	background-color: var(--tp-theme-nblue);
}

.tp-yellow-bg{
	background-color: var(--tp-theme-color-2);
}
.tp-cream-bg{
	background-color: var(--tp-cream);
}

.tp-cream-bg-2{
	background-color: var(--tp-cream-2);
}
.tp-upper{
	text-transform: uppercase;
}
.bg-pos-end{
	background-image: end;
}
.tp-theme-black-bg{
	background-color: var(--tp-heading-color);
}
// brand  logo css 
.tp-slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.tp-brand-slide-element {
	width: auto;
	display: inline-block;
}