@use '../utils' as *;

.tp-btn{
    background: var(--tp-theme-color);
    padding: 16px 45px;
    font-size: 18px;
    font-family: var(--tp-font-heading);
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    &-sec{
        background: var(--tp-theme-color-2);
        padding: 16px 45px;
        font-size: 18px;
        font-family: var(--tp-font-heading);
        border-radius: 5px;
        display: inline-block;
        &-lg{
            padding: 21px 48px;
        }
    }
    &-circle{
        font-family: var(--tp-font-heading);
        font-size: 60px;
        color: #fff;
        opacity: .3;
        border: 2px solid rgba(255,255,255, 0.2);
        padding: 48px 75px;
        display: inline-block;
        line-height: 1;
        border-radius: 100%;
        @media #{$xs}{
            font-size: 40px;
        }
    }
}

.tp-text-btn{
    font-size: 18px;
    color: #0a0e1a;
    font-family: var(--tp-font-heading);
    display: flex;
    align-items: center;
    & i{
        margin-left: 8px;
        transform: rotate(-45deg);
    }
}