@use '../utils' as *;

.tp-section-title{
    font-size: 60px;
    @media #{$lg}{
        font-size: 45px;
    }
    @media #{$md}{
        font-size: 38px;
    }
    color: #0A0E1A;
    &-white{
        color: #fff;
    }
    
}