@use '../../utils' as *;

.tp-about-box{
    @media #{$xl}{
        padding-left: 0px;
    }
    @media #{$lg}{
        padding-left: 0px;
    }
    @media #{$md}{
        padding-left: 0px;
    }
    @media #{$xs}{
        padding-left: 0px;
    }
}
.tp-about-img{
    border-radius: 20px;
    @media #{$lg}{
        padding-left: 0px;
    }
    @media #{$md}{
        padding-left: 0px;
    }
}

.tp-about{
    &-img{
        border-radius: 20px;
        @media #{$xs}{
            margin-bottom: 40px;
            padding-left: 0;

        }
    }
    &-video{
        @media #{$xl}{
            padding-left: 20px;
        }
        @media #{$lg}{
            padding-left: 0px;
        }
        @media #{$md,$xs}{
            padding-left: 0px;
        }
        &-icon{
           & a{
                height: 80px;
                width: 80px;
                border: 1px solid #57595C;
                border-radius: 50%;
                text-align: center;
                line-height: 75px;
                display: inline-block;
           }
        }
        & h4{
            font-size: 30px;
            color: #57595C;
        }
    }
    &-circle{
        width: 615px;
        height: 596px;
        background-color: var(--tp-theme-color-3);
        border-radius: 100%;
        position: absolute;
        bottom: 0;
    }
    &-thumb{
        & > img{
            position: relative;
            z-index: 2;
        }
    }
}
.tp-about-video{
    
}
.tp-about-2-shape{
    &-2{
        left: -55px;
        top: 140px;
    }
    &-1{
        right: 50px;
        top: 0px;
    }
}
.tp-about-shape-1{
    top: 18%;
    left: 0;
    z-index: 1;
}

.tp-about-shape-2{
    right: 0;
    top: 0;
    z-index: 1;
}
.tp-about-shape-3{
    top: 48%;
    left: 35%;
    z-index: 1;
}

.tp-about-content{
    & ul{
        & li{
            list-style: none;
            margin-bottom: 20px;
            & i{
                font-size: 30px;
                color: #333;
                margin-right: 10px;
            }
            & span{
                font-size: 30px;
                font-family: var(--tp-font-heading);
                line-height: 1.3;
                color: #0a0e1a;
            }
        }
    }
}

.tp-about-circle-img{
    position: absolute;
    top: 0;
    right:185px;
    & img{
        max-width: inherit;
    }
}


.tp-bg-circle{
    border-radius: 360px;
    margin: 0 100px;
}

.tp-founder-sep{
    height: 40px;
    background: #FF3838;
    width: 1px;
    margin: 25px auto;
}

.tp-about-box-right{
    position: absolute;
    width: 52%;
    right: 0;
    top: 0;
    background: #fff;
}

.tp-about-fact-box{
    
}