@use '../../utils' as *;

.tpblog{
    &__thumb{
        & img{
            width: 100%;
            border-radius: 15px;
        }
    }
    &__content{
        @media #{$lg, $md}{
            padding-left: 0;
        }

        &-meta{
           
            width: 55px;
            height: 170px;
            background: #FFE4FB;
            text-align: center;
            padding: 8px 0px;
            position: relative;
            display: flex;
            align-items: end;
            justify-content: center;
            flex: 0 0 auto;
            border-radius: 10px;
            & span{
                display: flex;
                flex-direction: column-reverse;
                & cite{
                    position: absolute;
                    width: 130px;
                    @include transform(rotate(90deg));
                    left: -39px;
                    bottom: 97px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    text-transform: uppercase;
                }
            }
            & i{
                height: 45px;
                width: 45px;
                background: #fff;
                text-align: center;
                border-radius: 5px;
                line-height: 42px;
                text-align: center;
                margin: auto;
                border: 1px solid #57595C;
                border-radius: 10px;
            }
            
        }
    }
    &__title{
        font-size: 30px;
        line-height: 1.25;
        @media #{$lg}{
            font-size: 27px;
        }
    }
    &__meta{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        & span{
            font-size: 17px;
            color: #57595c;
            & i{
                margin-right: 5px;
            }
        }
        & cite{
            width: 2px;
            height: 16px;
            background: #57595c;
            display: inline-block;
            margin: 0 14px;
        }
    }

    &-2{
        border: 1px solid #000;
        position: relative;
        border-radius: 15px;
        .tpblog__thumb{
            width:200px;
            flex: 0 0 auto;
            @include transform(translateY(-12px));
            margin-left: -3px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            & img{
                height: calc(100% + 24px);
                object-fit: cover;
            }
        }
        & .tpblog__content{
            padding-left: 228px;
            padding-top: 23px;
            padding-bottom: 23px;
        }
    }
}



