@use '../../utils' as *;

.tp-brand{
    &-area{
        background: linear-gradient(90deg, rgba(183,80,72,1) 0%, rgba(41,86,215,1) 50%, rgba(183,80,72,1) 100%);
        
    }
    &-title{
        & h3{
            font-size: 100px;
            text-transform: uppercase;
            color: #fff;
            margin: 0;
        }
    }
}


.tp-brand-item-border {
    border: 1px solid #57595C;
    min-height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -1px;
    margin-bottom: -1px;
    border-radius: 10px;
}



.brand-section-title{
    border-bottom: 1px solid #373737;
    & h2{
        color: #fff;
        font-size: 30px;
        margin-bottom: 0;
        background: #1a1a1a;
        display: inline-block;
        @include transform(translateY(19px));
        padding: 0 30px;
    }
}

.tp-brand-normal-wrapper{
    border: 1px solid #ddd;
    padding: 80px;
}