@use '../../utils' as *;

.custom-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media #{$xs}{
        justify-content: center;
     }
}

.tpfact{
    &__icon{
        & span{
            font-size: 110px;
            display:inline-flex;
            color: var(--tp-theme-color-2);
        }
        
    }
    
    &__title{
        font-size: 30px;
        color: #fff;
        opacity: .5;
    }
    &__text{
        & span{
            font-family: var(--tp-font-heading);
            font-size: 100px;
            color: #fff;
            display: inline-block;
            line-height: 1;
            @media #{$xs}{
                font-size: 70px;
             }
        }
    }
    &-2{
        & .tpfact{
            &__icon{
                & span{
                    color: #57595c;
                }
                &-2{
                    position: relative;
                    & span{
                        color: var(--tp-theme-orange);
                        @media #{$xl}{
                            font-size: 80px;
                        }
                    }
                    &:after{
                        position: absolute;
                        content: "";
                        height: 100px;
                        width: 1px;
                        background-color: #d9d9d9;
                        right: 0;
                        top: 11px;
                        @media #{$xl}{
                            top: 0;
                            height: 80px;
                        }
                    }
                }
            }
            &__text{
                & span{
                    color: #0A0E1A;
                    @media #{$xl}{
                        font-size: 50px;
                    }
                    @media #{$md}{
                        font-size: 50px;
                    }
                }
            }
            &__title{
                color: #57595c;
                opacity: 1;
                @media #{$xl}{
                    font-size: 16px;
                }
                @media #{$md}{
                    font-size: 20px;
                }
            }
        }
    }
}

.cols{
    @media #{$md, $sm}{
       width: 50%;
    }
}