@use '../../utils' as *;


.tp-newsletter{
    &-margin{
        margin-top: -110px;
    }
    &-bg{
        padding: 80px;
        border-radius: 20px;
        @media #{$md}{
           padding-left: 40px;
           padding-right: 40px;
         }
         @media #{$xs}{
            padding:60px 15px;
          }
    }
    &-box{
        @media #{$lg}{
           margin-top: 30px;
        }
        & form{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media #{$xs}{
                display: block;
              }
        }
        & input{
            border-color: #fff;
            color: #fff;
            &:focus{
                border-color: #fff;
            }
            @include tp-placeholder{
                color: #fff;
            }
        }
    }
    &-input{
        width: calc(100% - 230px);
        @media #{$xs}{
            width: 100%;
            margin-bottom: 20px;
          }
        & img{
            position: absolute;
            right: 20px;
            top: 22px;
        }
        & i{
            position: absolute;
            right: 20px;
            top: 22px;
            color: #57595C;
        }
   }
    &-back{
        color: #fff;
        font-size: 100px;
        opacity: .10;
        position: absolute;
        left:40px;
        bottom: -23px;
        line-height: 1;
        margin: 0;
        @media #{$xl}{
            font-size: 80px;
            left: 40px;
        }
        @media #{$md}{
            font-size: 75px;
            left: 15px;
          }
    }
    &-box-2{
        & input{
            border-color: #57595C;
            color: #57595C;
            &:focus{
                border-color: #57595C
            }
            @include tp-placeholder{
                color: #57595C;
            }
        }
        & .tp-newsletter-back{
            opacity: 1;
            color: #EEEBE6;
        }
    }
}