@use '../../utils' as *;

.tp-project-tab-area{
    @media #{$lg}{
        font-size: 50px;
        padding-right: 30px;
    }

    @media #{$md, $xs}{
        padding-right: 0;
    }
    @media #{$xs}{
        padding-right: 15px;
        padding-left: 15px;
    }
}
.tp-project{
    &-tab{
        @media #{$md, $xs}{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        
        & button{
            color: #fff;
            font-size: 100px;
            font-family: var(--tp-font-heading);
            line-height: 1.2;
            border-bottom: 1px solid #2f446b;
            padding: 13px 100px;
            padding-right: 35px;
            transition: .3s;
            text-align: left;
            //width: 100%;
            @media #{$xxlm}{
                font-size: 60px;
            }
            @media #{$xl}{
                font-size: 60px;
                padding-left: 40px;
            }
            @media #{$lg}{
                font-size: 50px;
                padding-left: 30px;
            }
            @media #{$md}{
                font-size: 20px;
                padding-left: 15px;
                padding-right: 15px;
                margin-bottom: 15px;
            }
            @media #{$xs}{
                font-size: 18px;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 10px;
            }


            &.active{
                color:var(--tp-theme-color-2);
                border-color: var(--tp-theme-color-2);
            }
        }
        &-thumb{
            @media #{$md}{
                padding: 0 40px;
            }
            & img{
                border-radius: 20px;
                width: 100%;
            }
        }
        &-content{
            @media #{$md}{
                padding-left: 0px;
            }
        }
       
    }
    

}


.tpportfolio{
    position: relative;
    &__title{
        font-size: 30px;
        background: #fff;
        padding: 12px 20px 12px 20px;
        margin: 0;
        margin-top: 5px;
    }
    &__thumb{

    }
    &__text{
       position: absolute; 
       bottom: 70px;
       left: 80px;
       opacity: 0;
       transition: .3s;
       visibility: hidden;
       & span{
        background: #fff;
        padding: 7px 20px 5px 20px;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        display: inline-block;
       }

    }
    &:hover{
        & .tpportfolio__text{
            visibility: visible;
            opacity: 1;
            bottom: 80px;
        }
    }
}

.tpshowcase{
    &__thumb{

    }

    &__number{
        & span{
            color: #A3AEC3;
            font-size: 30px;
            position: relative;
            &::before{
                width: 60px;
                height: 1px;
                content: "";
                background: #A3AEC3;
                position: absolute;
                left: -68px;
                top: 50%;
            }
        }
    } 

    &__cat{
        & span{
            color: #0A0E1A;
            padding: 4px 16px;
            background: #FFE9C9;
            border-radius: 30px;
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
    &__title{
        font-size: 40px;
        color: #fff;
        line-height: 50px;
    }
}