@use '../../utils' as *;

.tpservices{
    border: 1px solid #57595C;
    padding: 40px;
    @include transition(.3s);
    margin-right: -1px;
    @media #{$xl}{
        padding: 40px 30px;
    }
    &__icon{
        & span{
            font-size: 92px;
            color: var(--tp-black-common);
            display: inline-flex;
            position: relative;
            z-index: 2;
        }
        &-shape{
            position: absolute;
            left: 0;
            top: -6px;
            z-index: 1;
        }
    }
    &__title{
        font-size: 30px;
        @media #{$xl}{
            font-size: 28px;
        }
    }
    &__text{
        & p{

        }
    }
    &__list{
        & ul{
            list-style: none;
            & li{
                margin-bottom: 5px;
                color: #57595C;
                font-size: 17px;
                &::before{
                    background-color: #57595C;
                    content: "";
                    height: 8px;
                    width: 8px;
                    display: inline-block;
                    border-radius: 30px;
                    margin-right: 10px;
                    @include transform(translateY(-1px));
                }
            }
        }
    }
    &:hover{
        background-color: var(--tp-rom-color);
        & .tp-sv-btn{
            background-color: var(--tp-theme-color);
            color: #fff;
        }
    }
    &-2{
        padding-bottom: 14px;
        margin-top: -1px;
        &.tpservices__icon {
            & span{
                font-size: 57px;
                display: inline-flex;
                margin-left: 25px;
                color: var(--tp-black-common);
            }
        }
    }
}

.tpservices__icon_btn{
    & a{
        font-size: 45px;
        display: inline-flex;
        &:hover{
            color: var(--tp-theme-orange);
        }
    }
}
.sv-item-margin{
    .col-xl-3{
        margin: 0 -1px;
    }
}
.tp-sv-btn{
    background: var(--tp-rom-color);
    display: block;
    padding: 6px 28px;
    font-size: 18px;
    font-family: var(--tp-font-heading);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include transition(.3s);
    & i{
        @include transform(rotate(-45deg));
    }

}

.tpservices-4-spacing{
    padding-top: 50px;
    padding-bottom: 30px;
}

.tp-services-bg-area{
    background-color: #D6F0FF;
    border-radius: 140px;
}

.tp-service-tab{
    & .nav-links:first-child{
        & .tpsvtab{
            border-top: 1px solid #2b303f;
        }
    }
    & .active{
        & .tpsvtab__title{
            color: var(--tp-theme-orange-2);
        }
    }
}

.tpsvtab{
    border-bottom: 1px solid #2b303f;
    padding: 17px 0;
    padding-bottom: 30px;
    &__num{
        margin-top: 13px;
    }
    &__title{
        font-size: 100px;
    }
    &__content{
         & p{
            color: #B1B4BA;
            margin: 0;
         }
    }
}