@use '../../utils' as *;

.tp-team-area{
    @media #{$xl}{
        padding-left: 40px;
        padding-right: 40px;
     }
     @media #{$lg}{
        padding-left: 15px;
        padding-right: 15px;
     }
}
.tpteam{
    &__thumb {
        & img{
            border-radius:15px;
        }
    }
    &__info{
        @media #{$xxlm, $xl}{
            margin-left: 0px;
        }

        @media #{$lg}{
            margin-left: 40px;
        }
        & span{
            color: #57595C;
            font-size: 17px;
            & i{
                height: 1px;
                width: 60px;
                background: #D6D6D1;
                display: inline-block;
                transform: translateY(-5px);
                margin-right: 10px;
            }
        }
    }
    &__social{
        & a{
            color: #0A0E1A;
            font-size: 25px;
            margin-right: 10px;
        }
    }
    &__title{
        font-size: 30px;
        margin-bottom: 5px;
        @media #{$xl}{
            font-size: 27px;
         }
    }
}

.tp-swiper-team-button{
    display: inline-flex;
    font-size: 52px;
}

.tp-team-nav{
    & span{
        height: 12px;
        width: 12px;
        display: inline-block;
        background: #DBDBDB;
        border-radius: 100%;
        margin: 0 10px;
    }
}