@use '../../utils' as *;

.tp-team-area{
    @media #{$xl}{
        padding-left: 40px;
        padding-right: 40px;
     }
     @media #{$lg, $md, $xs}{
        padding-left: 0px;
        padding-right: 0px;
     }
}
.tpteam{
    &__thumb {
        position: relative;
        & img{
            border-radius:15px;
            width: 100%;
            transition: .3s;
            @media #{$xs}{
                width: 100%;
            }
        }
        &-2{
            margin-left: 10px;
            & > a{
                display: block;
                overflow: hidden;
                border-radius: 20px;
            }
        }
        &-border{
            position: absolute;
            height: 100%;
            width: 100%;
            top: -10px;
            left: -10px;
            border: 1px solid #57595C;
            z-index: -1;
            border-radius: 20px;
        }
    }
    &__info{
        @media #{$xxlm, $xl}{
            margin-left: 0px;
        }

        @media #{$lg}{
            margin-left: 40px;
        }
        @media #{$md}{
            margin-left: 30px;
        }
        @media #{$xs}{
            margin-left: 20px;
        }
        & span{
            color: #57595C;
            font-size: 17px;
            & i{
                height: 1px;
                width: 60px;
                background: #D6D6D1;
                display: inline-block;
                transform: translateY(-5px);
                margin-right: 10px;
            }
        }
    }
    &__social{
        & a{
            color: #0A0E1A;
            font-size: 25px;
            margin-right: 10px;
        }
        &-2{
            position: absolute;
            left: 0;
            right: 0;
            top: 55%;
            transform: translateY(-50%);
            transition: .3s;
            opacity: 0;
            visibility: hidden;
            & a{
                height: 50px;
                width: 50px;
                color: #0A0E1A;
                background: #fff;
                display: inline-block;
                border-radius: 50%;
                line-height: 50px;
                margin: 0 2px;
            }
        }
    }
    &__title{
        font-size: 30px;
        margin-bottom: 5px;
        @media #{$xl}{
            font-size: 27px;
         }
    }

    &__subtitle{
        margin-bottom: 7px;
        display: block;
    }

    &:hover{
        &  .tpteam__social-2{
            opacity: 1;
            visibility: visible;
            top: 50%;
        }
        & .tpteam__thumb-2{
            & img{
                filter: blur(2px);
            }
        }
    }
}

.tp-swiper-team-button{
    display: inline-flex;
    font-size: 52px;
}

.tp-team-nav{
    @media #{$xl}{
        margin-bottom: 20px;
     }
    & span{
        height: 12px;
        width: 12px;
        display: inline-block;
        background: #DBDBDB;
        border-radius: 100%;
        margin: 0 10px;
    }
}