@use '../../utils' as *;


.tp-testimonial{
    &-desc{
        font-size: 100px;
        @media #{$xl}{
            font-size: 75px;
         }
         @media #{$lg}{
            font-size: 60px;
         }
         @media #{$md}{
            font-size: 50px;
         }
         @media #{$xs}{
            font-size: 30px;
         }
    }

    &-text{
        font-size: 60px;
        color: #fff;
        & i{
            font-size: 42px;
            color: var(--tp-theme-color-2);
        }
    }
    &-name{
        font-size: 30px;
        margin-bottom: 5px;
    }
    &-desig{
        color: #57595c;
        font-size: 17px;
        margin-left: 76px;
        & span{
            height: 1px;
            width: 60px;
            background: #57595c;
            display: inline-block;
            transform: translateY(-5px);
            margin-right: 5px;
        }
    }

    &-author{
        &-name{
            font-size: 30px;
            color: #fff;
        }
        &-desig{
            font-size: 17px;
            color: #fff;
        }
    }
    &-main-wrapper{
        margin-left: -55px;
    }
}


.quotes-90{
    transform: scaleX(-1);
    display: inline-block;
    font-size: 42px;
    color: var(--tp-theme-color-2);
}

.tp-testimonial-shape{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: -1;
    @media #{$lg}{
        top: 0;
     }
}


.tp-swiper-test-button{
    position: absolute;
    left: 100px;
    top: 34%;
    z-index: 9;
    font-size: 52px;
    @media #{$xxlm, $xl, $md, $xs}{
       left: 0;
       top: inherit;
       bottom: 0;
       position: static;
       display: inline-block;
       margin-top: 30px;
    }
    @media #{$lg}{
        left: 0;
     }
    &-next{
        left: auto;
        right: 100px;
        @media #{$xxlm, $xl, $md, $xs}{
            bottom: 0;
            right: inherit;
            left: 70px;
         }
         @media #{$lg}{
            right: 0;
         }
    }
}
.tp-rot-180{
    transform: rotate(180deg);
}
.tp-testimonial-shape-thumb{
    &-1{
        top: 115px;
        left: 0;
        @media #{$xl}{
            top: 50px;
         }
    }
    &-2{
        right: 0;
        top: 34px;
    }

}

.tp-testimonial-2{
    &-shape-thumb-1{
        right: 19%;
        bottom: 15%;
    }
    &-shape-thumb-2{
        right: 9%;
        top: 19%;
    }
}

.tp-swiper-test-2-button {
    color: red;
    font-size: 265px;
}
.tp-swiper-test-2-button{
    color: #fff;
    z-index: 9;
    font-size: 52px;
    display: inline-block;
}

.tp-test-slider-arrow-2{
    position: absolute;
    bottom: 20px;
    left: 500px;
    opacity: .5;
    & span{
        height: 12px;
        width: 12px;
        display: inline-block;
        background: #DBDBDB;
        border-radius: 100%;
        margin: 0 10px;
        opacity: .5;
    }
}