@use '../../utils' as *;

.tp-video-area{
    padding:300px 30px;
    background-position: center;
    @media #{$lg}{
        padding:200px 30px;
    }
    @media #{$xs,$md}{
        padding:150px 30px;
    }
}